:root {
    --header-height: 54px;

    --background-color: var(--light-theme-background-color);
    --background-color-light: var(--light-theme-disabled-color);
    --background-color-lighter: var(--light-theme-divider-color);
    
    --text-color: var(--light-theme-text-color);
    --text-color-light: var(--light-theme-secondary-color);

    --footer-background-color: var(--primary-text-color);
    --footer-text-color: var(--background-color-lighter);

    --snackbar-background-color: var(--dark-theme-divider-color);
    --snackbar-text-color: var(--footer-text-color);

    --cart-container-background-color: #ffffff;
}

body, html {
    min-height: 100vh;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--primary-color);
    box-shadow: var(--shadow-elevation-16dp_-_box-shadow);
    width: 100vw;
    overflow: hidden;
}
header .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 15px;
    box-sizing: border-box;
}
header .header-container > * {
    margin-right: 10px;
}
header,
#fork-me-banner,
#fork-me-banner > svg {
    height: var(--header-height, 64px);
}
#fork-me-banner {
    min-width: var(--header-height, 64px);
    min-height: var(--header-height, 64px);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
#fork-me-banner:hover .octo-arm,
#fork-me-banner:focus .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
    animation: octocat-wave 560ms ease-in-out;
}
@-webkit-keyframes octocat-wave {
    0%,100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    20%,60% { 
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    } 
    40%,80% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}
@keyframes octocat-wave {
    0%,100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    20%,60% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    40%,80% {
        -webkit-transform: rotate(10deg);
        transform:rotate(10deg);
    }
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    grid-auto-flow: row;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}
main .page-title,
main .page-description {
    grid-column: 1 / -1;
}
main .page-description {
    color: var(--text-color-light);
}
main paper-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.35s ease-out;
}
main .page-card-link:focus {
    outline: none;
}
main paper-card:hover,
main .page-card-link:focus paper-card {
    outline: none;
    box-shadow: var(--paper-material-elevation-5_-_box-shadow);
}
main paper-card .card-actions {
    border-top: none;
}

footer {
    text-align: left;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    padding: 25px;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
}
footer a {
    display: inline-block;
    padding: 10px 0;
}

paper-toolbar paper-button {
    display: inline-block;
    position: relative;
    padding: 8px;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 0;
    line-height: 1;
    max-width: 40px;
    max-height: 40px;
    width: 40px;
    height: 40px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

#notifications-active,
#notifications-none {
    fill: white;
    position: absolute;
    left: 0;
    transition: transform 0.35s;
    transform: scale(0);
}

#notifications-active.show,
#notifications-none.show {
    transform: scale(1);
}

.focus-outline:focus,
.focus-outline.yellow-outline:focus {
    outline: 2px solid var(--yellow, var(--accent-color));
}
.focus-outline.accent-outline:focus {
    outline: 2px solid var(--accent-color);
}

.flex-stretch {
    flex: 1;
}

strong {
    color: var(--accent-color, #f4b400);
    display: inline-block;
    margin: 0;
    padding: 0;
}

@media (min-width: 600px) {
    :root {
        --header-height: 64px;
    }
}
@media screen and (min-width: 767px) {
    .container {
        justify-content: start;
    }
    main {
        padding: 20px 100px;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --snackbar-text-color: var(--dark-theme-text-color);

        --cart-container-background-color: var(--dark-theme-background-color);
    }

    body {
        --background-color: var(--dark-theme-divider-color);
        --background-color-light: var(--dark-theme-disabled-color);
        --background-color-lighter: var(--dark-theme-secondary-color);
        
        --text-color: var(--dark-theme-text-color);
        --text-color-light: var(--dark-theme-secondary-color);

        --footer-background-color: var(--dark-theme-background-color);
        --footer-text-color: var(--text-color-light);

        --paper-card-background-color: var(--dark-theme-background-color);
        --paper-card-header-color: var(--accent-color);
    }

    .unavailable-offline paper-card {
        opacity: 0.5;
        background-color: #000000;
    }
}
@media all and (display-mode: browser) {
    body {
        font-family: 'Open Sans', sans-serif;
    }
}
/* * If launched in standalone mode use system fonts */
@media all and (display-mode: standalone) {
    body {
        font-family: "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
}