<h2 class="page-title" tabindex="0">PWA Recipes 📱🥘</h2>
<h3 class="page-description" tabindex="0">Take a look at demos to some of the most common PWA advanced use-cases 👇👇</h3>

<a class="page-card-link" href="/push-examples/">
    <paper-icon-button hidden class="available-offline-icon" tabIndex="-1" icon="offline-pin"></paper-icon-button>
    <paper-card heading="Push Notifications" tabIndex="-1">
    <img src="./img/push-examples.png" alt="Message bubble emoji"/>
    </paper-card>
</a>  

<a class="page-card-link" href="/cart-abandon-notification/">
    <paper-icon-button hidden class="available-offline-icon" tabIndex="-1" icon="offline-pin"></paper-icon-button>
    <paper-card heading="Cart Abandonment Notification" tabIndex="-1">
    <img src="./img/cart-abandon.png" alt="Shopping cart emoji"/>            
    </paper-card>
</a>

<paper-card 
    class="install-pwa-card"
    heading="Browse even when you're on the train 🚆📴" 
    tabIndex="0"
    hidden
>
    <custom-style>
    <style is="custom-style">
        paper-card.install-pwa-card {
            --paper-card-header-color: #ffffff;
            background-color: var(--primary-color);
            transition: transform 0.35s ease-in, box-shadow 0.35s ease-out;
            
        }
        main paper-card.install-pwa-card:hover,
        main paper-card.install-pwa-card:focus {
            outline: none;
            box-shadow: var(--paper-material-elevation-5_-_box-shadow);
        }
        paper-card.install-pwa-card paper-icon-button {
        --iron-icon-fill-color: var(--google-blue-300);
            position: absolute;
            right: 0;
            top: 0;
            width: 35px;
            height: 35px;
        }
        paper-card.install-pwa-card .card-actions {
            margin-left: auto;
            padding-bottom: 12px;
        }
        paper-card.install-pwa-card paper-button {
            color: #ffffff;
        }
        paper-card.install-pwa-card .install-pwa-button {
            background-color: var(--accent-color);
        }
        paper-card.install-pwa-card .install-pwa-button > iron-icon {
            margin-left: 4px;
        }
    </style>
    </custom-style>

    <!-- * Learn more - Reference -->
    <a 
        href="https://developers.google.com/web/fundamentals/app-install-banners/promoting-install-mobile"
        tabindex="-1" 
        target="_blank"
        rel="noopener noreferrer"
    >
        <paper-icon-button icon="open-in-new"></paper-icon-button>
    </a>

    <div class="card-actions horizontal justified">
    <paper-button class="install-pwa-dismiss-button focus-outline">Not now</paper-button>
    <paper-button class="install-pwa-button focus-outline" aria-label="Add PWA.recipes in your home screen">Install <iron-icon icon="get-app"></iron-icon></paper-button>
    </div>
</paper-card>

<a class="page-card-link" href="/offline-requests/">
    <paper-icon-button hidden class="available-offline-icon" tabIndex="-1" icon="offline-pin"></paper-icon-button>
    <paper-card heading="Handle offline requests" tabIndex="-1">
    <img src="./img/offline-requests.png" alt="Mobile off network emoji"/>            
    </paper-card>
</a>

<a class="page-card-link" href="/offline.html">
    <paper-icon-button hidden class="available-offline-icon" tabIndex="-1" icon="offline-pin"></paper-icon-button>
    <paper-card heading="Custom offline page" tabIndex="-1">
    <img class="dark-mode-high-contrast-filter" src="./img/no-offline.png" alt="Chrome offline dinosaur not allowed"/>            
    </paper-card>
</a>