<h2 tabindex="0" class="page-title offline-content-title">Offline available pages</h2>
<h3 class="page-description" tabindex="0">Any pages cached will be listed below. Try navigating to a demo from the 
    <custom-style>
        <style is="custom-style">
            .tab-icon-reference {
                fill: var(--primary-color);    
            }
        </style>
    </custom-style>
    <iron-icon class="tab-icon-reference" icon="icons:apps"></iron-icon>
    tab.
</h3>

<div class="offline-content">

</div>