/* Material Color tool: https://material-ui.com/customization/color/#color-tool */
:root {
    /* Polymer theme styles */
    --purple: #673ab7;
    --dark-purple: #4a1a9e;
    --primary-color: var(--purple);
}
body, html {
    min-height: 100vh;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    background-image: url("./../../img/floating-cogs.svg");
    background-color: #e7f0fc;
}
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

paper-toolbar {
    background-color: var(--primary-color);
    grid-area: header;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
paper-toolbar > .title {
    margin: 0;
}

#fork-me-banner > svg > path:not(:first-child) {
    fill: var(--primary-color);
}
#fork-me-banner > svg {
    height: var(--paper-toolbar-height, 64px);
    width: var(--paper-toolbar-height, 64px);
}
#fork-me-banner:hover .octo-arm,
#fork-me-banner:focus .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
    animation: octocat-wave 560ms ease-in-out;
}
@-webkit-keyframes octocat-wave {
    0%,100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    20%,60% { 
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    } 
    40%,80% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}
@keyframes octocat-wave {
    0%,100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    20%,60% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    40%,80% {
        -webkit-transform: rotate(10deg);
        transform:rotate(10deg);
    }
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    grid-auto-flow: row;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
}
.page-card-link {
    color: var(--accent-color);
    position: relative;
}
.unavailable-offline:before {
    content: "";
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.unavailable-offline paper-card {
    opacity: 0.35;
}
.unavailable-offline {
    pointer-events: none;
} 
.available-offline-icon {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    color: var(--google-green-500);
}

/* * Paper Style Overrides */
main paper-card {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.35s ease-out;
}
main paper-card:hover,
main paper-card:focus {
    box-shadow: var(--paper-material-elevation-5_-_box-shadow);
}
main paper-card img {
    width: 50%;
    height: 50%;
    order: -1;
    margin: 30px auto 0;
    object-fit: contain;
    transform: rotate(10deg);
}
main > a:nth-child(2) img {
    transform: rotate(-10deg);
}
main paper-card .card-actions {
    border-top: none;
}
main paper-card {
    --paper-card-header-color: var(--primary-color);
}

footer {
    grid-area: footer;
    background-color: #333333;
    height: 70px;
    padding: 25px;
    display: grid;
    align-items: center;
    text-align: left;
}

footer a {
    color: var(--accent-color);
}

#snackbar {
    position: fixed;
    z-index: 5;
    transition: bottom 0.5s ease-out;
    min-height: 23px;
    bottom: -150px;
    left: calc(50% - 170px);
    width: 320px;
    background-color: #444444;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    padding: 10px;
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}
#snackbar.show {
    bottom: 30px;
}
#snackbar .snackbar-refresh-button {
    color: var(--google-blue-300); 
    font-size: 17px;
    margin: 0;
    padding: 5px 9px;
    text-decoration: none;
}

#ios-install-banner {
    position: fixed;
    box-sizing: border-box;
    width: 95vw;
    padding: 5px 5px 15px 5px;
    margin: 10px 2.5vw;
    bottom: 60px;
    border-radius: 10px;
    background-color: #e6eef7;
    font-size: 12px;
    box-shadow: 2px -1px 7px 0px rgba(0,0,0,0.6);
}
#ios-install-banner:before {
    content: "";
    background-color: #e6eef7;
    position: absolute;
    bottom: 0;
    left: calc(50vw - 10px);
    width: 20px;
    height: 20px;
    transform: rotateZ(45deg);
    transform-origin: left bottom;
}
#ios-install-banner > img {
    display: inline-block;
    width: 18px;
    object-fit: contain;
    margin: 0 5px -6px 5px;
}
#ios-install-banner > .add-ios-container {
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(104, 104, 112);
    padding: 6px 3px 0 3px;
    width: 24px;
    height: 24px;
    margin: 0 5px -6px 5px;
}
#ios-install-banner > .add-ios-container > img.add-ios {
    filter: invert(1);
    object-fit: contain;
    width: 12px;
}
#ios-install-banner > img.share-ios {
    filter: invert(64%) sepia(76%) saturate(3603%) hue-rotate(197deg) brightness(102%) contrast(93%);
}
#ios-install-banner > #ios-install-banner-dismiss-button {
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 14px;
    color: #004ba0;
}

.hidden {
    transition: transform 0.35s ease-out;
    transform: scale(0);
}

/* * MEDIA QUERIES */
@media (max-width: 320px) {
    #snackbar {
        left: calc(50% - 150px);
        width: 280px;
    }
    #ios-install-banner {
        text-align: left;
        padding: 5px 10px 15px 10px;
    }
    #ios-install-banner > .add-ios-container {
        text-align: center;
    }
}
@media (min-width: 410px) {
    #snackbar {
        left: calc(50% - 190px);
        width: 360px;
    }
}
@media (max-width: 600px) {
    #fork-me-banner > svg {
        height: var(--calculated-paper-toolbar-sm-height);
        width: var(--calculated-paper-toolbar-sm-height);
    }
}
@media (min-width: 767px) {
    #snackbar {
        width: 400px;
        left: calc(50% - 195px);
    }
    #snackbar.show {
        bottom: 120px;
    }
}
