/* Material Color tool: https://material-ui.com/customization/color/#color-tool */
:root {
    /* Polymer theme styles */
    --yellow: var(--google-yellow-500);
    --light-yellow: #FFEB3B;
    --purple: #673ab7;
    --dark-purple: #4a1a9e;

    --primary-color: var(--purple);
    --paper-card-header-color: var(--primary-color);
    --paper-card-background-color: var(--light-theme-background-color);

    --tab-icon-color: var(--primary-color);
    --offline-available-page-link-color: var(--google-green-700);
}
body {
    color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%673ab7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-color: #e7f0fc;
}

nav {
    background-color: #ffffff;
    width: 100vw;
    position: sticky;
    order: 11;
    z-index: 11;
    bottom: 0;
    left: 0;
    right: 0;
}
nav .nav-tab-label {
    display: none;
}

#fork-me-banner > svg > path:not(:first-child) {
    fill: var(--primary-color);
}

/* * Paper Style Overrides */
main {
    will-change: transform;
    transform: translateZ(0);
}
main paper-card {
    height: 100%;
    color: var(--paper-card-header-color);
}
main paper-card img {
    width: 50%;
    /* height: 50%; */
    order: -1;
    margin: 30px auto 0;
    object-fit: contain;
    transform: rotate(10deg);
}
main > a:nth-child(2) img {
    transform: rotate(-10deg);
}

main > iframe {
    width: 100%;
    min-height: 500px;
    border-radius: 4px;
    grid-column: 1 / -1;
}

.page-card-link {
    color: var(--accent-color);
    position: relative;
}
.unavailable-offline:before {
    content: "";
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.unavailable-offline paper-card {
    opacity: 0.35;
}
.unavailable-offline {
    pointer-events: none;
} 
.available-offline-icon, .offline-available-pages-icon {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    color: var(--google-green-500);
}
.offline-content {
    grid-row: 3;
    grid-column: 1 / -1;
    justify-self: center;
    width: 100%;
    max-width: 500px;
}
.offline-available-pages-icon {
    width: 40px;
    height: 40px;
    top: -20px;
    left: -20px;
}
.offline-available-page {
    text-align: left;
    position: relative;
    margin: 20px 0;
    background-color: var(--cart-container-background-color);
    transition: box-shadow 0.35s ease-out;
    box-shadow: var(--shadow-elevation-4dp_-_box-shadow);
}
.offline-available-page:hover,
.offline-available-page:focus {
    box-shadow: var(--shadow-elevation-8dp_-_box-shadow);
}
.offline-available-page .avatar {
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.5));
    padding: 25px;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
}
.offline-available-page a {
    color: var(--offline-available-page-link-color);
}
.offline-available-page paper-item-body {
    padding-left: 8px;
}
.offline-available-page .cache-delete-button {
    color: var(--paper-red-600);
    margin-left: auto;
}

footer a {
    color: var(--accent-color);
}

paper-fab.page-share-button {
    position: fixed;
    bottom: 100px;
    right: 36px;
    transition: box-shadow 0.35s ease-out;
}
paper-fab.page-share-button.keyboard-focus {
    background-color: var(--dark-accent-color);
}

.animate-page {
    transform-origin: bottom center;
}
.hidden {
    transition: transform 0.35s ease-out;
    transform: scale(0);
}
@media screen and (max-width: 767px) {
    .snackbar-container {
        /* ! fix for showing above the bottom nav */
        bottom: 55px !important;
    }
}
@media screen and (max-width: 767px) and (prefers-color-scheme: dark) {
    :root {
        --offline-available-page-link-color: var(--google-green-100);
    }
    paper-tabs {
        background-color: #000000;
    }
}
@media (prefers-color-scheme: dark) {
    .page-card-link {
        color: var(--primary-color);
    }
    
    paper-tabs iron-icon {
        --tab-icon-color: var(--text-color);
    }

    .dark-mode-high-contrast-filter {
        filter: contrast(0.2) saturate(3);
    }
}