/* Material Color tool: https://material-ui.com/customization/color/#color-tool */
:root {
    /* Polymer theme styles */
    --yellow: var(--google-yellow-500);
    --light-yellow: #FFEB3B;
    --purple: #673ab7;
    --dark-purple: #4a1a9e;

    --primary-color: var(--purple);
}
body {
    color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%673ab7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-color: #e7f0fc;
}
paper-toolbar paper-icon-button {
    --iron-icon-fill-color: var(--accent-color);
}
paper-toolbar {
    --paper-toolbar-background: var(--primary-color);
}

nav {
    background-color: #ffffff;
    width: 100vw;
    position: sticky;
    order: 11;
    z-index: 11;
    bottom: 0;
    left: 0;
    right: 0;
}
nav .nav-tab-label {
    display: none;
}

#fork-me-banner > svg > path:not(:first-child) {
    fill: var(--primary-color);
}

main {
    will-change: transform;
    transform: translateZ(0);
}
.page-card-link {
    color: var(--accent-color);
    position: relative;
}
.unavailable-offline:before {
    content: "";
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.unavailable-offline paper-card {
    opacity: 0.35;
}
.unavailable-offline {
    pointer-events: none;
} 
.available-offline-icon {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    color: var(--google-green-500);
}

/* * Paper Style Overrides */
main paper-card {
    height: 100%;
}
main paper-card img {
    width: 50%;
    height: 50%;
    order: -1;
    margin: 30px auto 0;
    object-fit: contain;
    transform: rotate(10deg);
}
main > a:nth-child(2) img {
    transform: rotate(-10deg);
}
main paper-card {
    --paper-card-header-color: var(--primary-color);
}

*:focus {
    outline: 3px solid var(--yellow);
}

footer a {
    color: var(--accent-color);
}

paper-fab.page-share-button {
    position: fixed;
    bottom: 100px;
    right: 36px;
}

.animate-page {
    transform-origin: bottom center;
}
.hidden {
    transition: transform 0.35s ease-out;
    transform: scale(0);
}
.flex-stretch {
    flex: 1;
}
