@media screen and (min-width: 767px) {
    nav {
        position: relative;
        order: initial;
        background-color: transparent;
        width: auto;
    }
    nav .nav-tab-label {
        display: block;
    }
    nav paper-tabs {
        box-shadow: none;
        width: fit-content;
        margin-left: auto;
    }
    nav paper-tabs paper-tab {
        margin: 0 10px;
    }
    nav .nav-tab-label {
        font-size: 1.2rem;
        margin: 0 4px;
    }
    nav paper-tabs iron-icon {
        --iron-icon-fill-color: var(--accent-color);
    }
    .flex-stretch-tablets-and-above {
        flex: 1;
    }
    .animate-page {
        transform-origin: center top;
    }
}