/* Material Color tool: https://material-ui.com/customization/color/#color-tool */
:root {
    --orange80: rgba(255, 99, 51, 0.8);
    --orange: #ff6333;
    --yellow: #FFEB3B;
    --dark-orange: #ff3d00;
    --purple: #673ab7;
    --dark-purple: #4a1a9e;

    --primary-color: var(--purple);
    --accent-color: var(--orange);
    --background-color: #ede0fb;
    --text-color: #ffffff;
    --heading-text-color: #000000;
    
    --header-height: 54px;
}
body, html {
    min-height: 100vh;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-align: center;
    background-color: var(--background-color);
}
body.cool .container,
body.not-cool .container {
    filter: blur(5px);
}
body.cool .cool-dialog,
body.not-cool .not-cool-dialog {
    transform: scale(1);
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "wipe-data-btn"
      "main"
      "footer";
    align-content: space-between;
}

header {
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-area: header;
    grid-template-columns: auto 1fr;
    align-content: center;
    background-color: var(--purple);
    box-shadow: var(--shadow-elevation-16dp_-_box-shadow);
    padding: 4px 15px;
    margin: 0;
}
header .title {
    text-shadow: 0px 2px 0px rgba(0,0,0,0.5);
    display: inline-block;
    margin: 0;
    font-size: 18px;
}
header,
#fork-me-banner,
#fork-me-banner > svg {
    height: var(--header-height, 64px);
    box-sizing: border-box;
}
#fork-me-banner {
    width: var(--header-height, 64px);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
}
#fork-me-banner > svg > path:not(:first-child) {
    fill: var(--purple);
}

#wipe-data-btn {
    background-color: #f44336;
    padding: 10px 15px;
    justify-self: start;
    margin-left: 15px;
    margin-top: 15px;
    grid-area: wipe-data-btn;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 100px;
    grid-gap: 20px;
    min-height: 700px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 5px;
}

main h2 {
    grid-column: 2 / 3;
    border: 2px solid var(--orange);
    border-radius: 8px;
    padding: 10px 15px;
    color: var(--heading-text-color);
    justify-self: center;
    align-self: center;
}

main section {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: row;
}

.container button {
    background-color: var(--purple);
    color: white;
    padding: 4px 8px;
    margin: 5px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    box-shadow: 0 0 11px rgba(0,0,0,0.5);
    text-shadow: 0px 2px 0px rgba(0,0,0,0.5);
    transition: all 0.35s;
    text-transform: capitalize;
}
a {
    border-radius: 4px;
    transition: all 0.35s;
    border: none;
    outline: none;
}

a:focus,
.container button:focus {
    border: 3px solid var(--yellow);
}

a:focus,
a:hover,
.container button:focus,
.container button:hover {
    outline: none;
    box-shadow: 0 0 15px var(--purple);
}
a:active,
.container button:active {
    outline: none;
    box-shadow: none;
    background-color: var(--dark-purple);
}

/* ! DUPLICATE in global styles.css */
.focus-outline:focus,
.focus-outline.yellow-outline:focus {
    outline: 2px solid var(--yellow, var(--accent-color));
}
.focus-outline.accent-outline:focus {
    outline: 2px solid var(--accent-color);
}

.unavailable-offline {
    opacity: 0.7;
    pointer-events: none;
    cursor: not-allowed;
}

.request-button, 
.arrow-down {
    grid-column: 1 / -1;
}

footer {
    display: grid;
    grid-area: footer;
    grid-gap: 30px;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    min-height: 100px;
    padding: 25px;
    background-color: #212121;
}
footer span {
    text-align: left;
    font-size: 14px;
}
footer a {
    color: var(--orange);
    display: inline-block;
    padding: 10px 0;
}

.arrow-right {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23ff3d00' d='M11,16H3V8H11V2L21,12L11,22V16M13,7V10H5V14H13V17L18,12L13,7Z' /%3E%3C/svg%3E");
}
.arrow-left {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23ff3d00' d='M13,22L3,12L13,2V8H21V16H13V22M6,12L11,17V14H19V10H11V7L6,12Z' /%3E%3C/svg%3E");
}
.arrow-down {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23ff3d00' d='M22,11L12,21L2,11H8V3H16V11H22M12,18L17,13H14V5H10V13H7L12,18Z' /%3E%3C/svg%3E");
}
.arrow-up {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23ff3d00' d='M16,13V21H8V13H2L12,3L22,13H16M7,11H10V19H14V11H17L12,6L7,11Z' /%3E%3C/svg%3E");
}
span[class^="arrow"] {
    background-repeat: no-repeat no-repeat;
    background-position: center center;
}

@media (min-width: 600px) {
    :root {
        --header-height: 64px;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #3c3c3c;
        --heading-text-color: #ffffff;
    }
}
@media all and (display-mode: browser) {
    body {
        font-family: 'Open Sans', sans-serif;
    }
}
    /* * If launched in standalone mode use system fonts */
@media all and (display-mode: standalone) {
    body {
        font-family: "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
}